{% extends "base.html" %}
{% block content %}
    <div class="mainPage">
        <h1>CharityChoice.ai</h1>
        <p>The ultimate guide to your donation decision!</p>
        <p>Aiding you in making the world a better place</p>
    </div>

    
    <div class="boxcenterHome">
        <form action="/question" method="POST">
            <h2>Do you have a charity in mind?</h2>
            <input class="larger-font" type="radio" id="yes" name="have_charity" value="Yes">
            <label class="larger-font" for="yes">Yes</label><br>
            <input class="larger-font" type="radio" id="no" name="have_charity" value="No" checked>
            <label class="larger-font" for="no">No</label><br>
            <input class="larger-font" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}