{% extends "base.html" %}
{% block content %}
    <div class="mainPage">
        <h1>CharityChoice.ai</h1>
        <p>The ultimate guide to your donation decision!</p>
        <p>Aiding you in making the world a better place</p>
    </div>

    
    <div class="questions">
        <form action="/question" method="POST">
            <p>Do you have a charity in mind?</p>
            <input type="radio" id="yes" name="have_charity" value="Yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="have_charity" value="No" checked>
            <label for="no">No</label><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}