{% extends "base.html" %}

{% block content %}
{% if have_charity == "Yes" %}

<form action="/charity_info" method="POST">
    <p>What is the name of the charity?</p>
    <input type="text" id="charity_name" name="charity_name">
    <input type="submit" value="Submit">
</form>
{% else %}
<br>
<form action="/search_charities" method="POST">
    <p>What type of charity would you like to donate to?</p>
    <select name="charities" id="charities">
        <option value="environmental">Environmental</option>
        <option value="children">Children's</option>
        <option value="animal">Animal</option>
        <option value="human_rights">Human Rights</option>
        <option value="education">Education</option>
        <option value="Religious">Religious</option>
        <option value="Health">Health</option>
        <option value="poverty">Poverty</option>
    </select>
    <p>Where do you want the charity to donate to?</p>
    <select name="locations" id="locations">
        <option value="canada">Canada</option>
        <option value="united_states">USA</option>
        <option value="germany">Germany</option>
        <option value="united_kingdom">UK</option>
    </select>
    <input type="submit" value="Submit">
</form>
{% endif %}

{% endblock %}