{% extends "base.html" %}
{% block content %}

<div class="center">
    <h1>Charities</h1>
</div>

<div>
    <img src="{{ combined_image }}" alt="">
</div>

<div class="container">
    {% for i in range(3) %}
    <div class="card" id="card{{ i }}">
        <img src="{{ charities[i].Image }}">
        <div class="card-content">
            <h2>{{ charities[i].Name }}</h2>
            <p><strong>Mission:</strong><br> {{ charities[i].Mission }}</p>
            <p><strong>Public Perception (1 - 10):</strong> {{ charities[i].PublicPerception  }}</p>
            <p><strong>Impact:</strong> <br>{{ charities[i].Impact }}</p>
            <p><strong>Fundraising Technique:</strong> <br>{{ charities[i].FundraisingTechnique }}</p>
            <p><strong>Financial Transparency (1 - 10):</strong> {{ charities[i].FinancialTransparency }}</p>
        </div>
        <div class="popup" id="popup1">
            <div class="popup-content">
                <img src="" alt="analysis of charity {{ i }}">
                <p>omg good charity</p>
                <button class="close-button">Close</button>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<script>
    const cards = document.querySelectorAll('.card');

    cards.forEach(card => {
        card.addEventListener('click', () => {
            const popupId = card.id.replace('card', 'popup');
            const popup = document.getElementById(popupId);
            popup.style.display = 'block';
        });
    });

    const closeButtons = document.querySelectorAll('.close-button');

    closeButtons.forEach(button => {
    button.addEventListener('click', () => {
        event.stopPropagation();
        const popup = button.closest('.popup');
        popup.style.display = 'none';
    });
    });
</script>

{% endblock %}